# Set default behavior to automatically normalize line endings
* text=auto eol=lf

# Treat C++ headers and sources as text
*.cpp  text
*.hpp  text
*.h    text
*.c    text

# Normalize Visual Studio project files
*.vcxproj       text
*.filters       text
*.sln           text

# Treat scripts as text (if you add any)
*.sh    text eol=lf
*.bat   text eol=crlf
